{% extends 'myapp/base.html' %}

{% block body %}

   <div class="flex p-10">
    <div>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/400px-No-Image-Placeholder.svg.png" alt="">
    </div>
    <div class="pl-10">
        <div class="text-4xl mb-4"> {{ product.name }} </div>
        <div class="mb-4"> {{ product.description }} </div>
        <div class="mb-4 text-green-600 font-bold"> ${{ product.price }} </div>
        <div>
            <button id="checkout-button" class="bg-green-600 text-white px-4 py-2 rounded-sm">Buy here</button>
        </div>
    </div>
   </div>

{% endblock %}





